article.place_overview {
    margin: 2.5% 2.5% 2.5% 2.5%; 
    width: 20%;
}

.place_overview img {
    width: 85%;
}

.place_overview p {
    padding-left: 1em;
}

.places_list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.place_overview a {
    text-decoration: none;
    color: black;
}

@media (max-width:60em) {
    article.place_overview {
        margin: 1.66% 1.66% 1.66% 1.66%; 
        width: 30%;
    }
}

@media (max-width:50em) {
    article.place_overview {
        margin: 2.5% auto; 
        width: 45%;
    }
}

@media (max-width:40em) {
    article.place_overview {
        margin: 2.5% 2.5% 2.5% 2.5%; 
        width: 100%;
    }
}

