:root {
    --orange: #ff6624;
}

article.place_overview {
    margin: 1.25% 1.25% 1.25% 1.25%; 
    width: 22.5%;
    position: relative;
}

.far.fa-heart {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: larger;
}

.far.fa-heart:hover {
    color: var(--orange);
}

.fas.fa-heart {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: larger;
    display: none;
}

.place_overview img {
    width: 100%;
    border-radius: 5px;
}

.places_list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.place_overview a {
    text-decoration: none;
    color: black;
    padding: 0;
}

.place_overview a:hover {
    opacity: 0.5;
}

.place_overview p {
    margin: 0.3em;
}

.place_location {
    font-weight: bolder;
    color: var(--orange);
}

.place_title {
    font-weight: bolder;
}

.place_price {
    font-style: italic;
}
@media (max-width:60em) {
    article.place_overview {
        margin: 1.66% 1.66% 1.66% 1.66%; 
        width: 30%;
    }
}

@media (max-width:50em) {
    article.place_overview {
        margin: 2.5% auto; 
        width: 45%;
    }
}

@media (max-width:40em) {
    article.place_overview {
        margin: 2.5% 2.5% 2.5% 2.5%; 
        width: 100%;
    }
}

