:root {
    --orange: #ff6624;
}

#profile {
    max-width: 1280px;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#profile_sidebar {
    min-width: 12em;
    /* background-color:  rgba(158, 158, 158, 0.2); */
    /* border-radius: 10px; */
    grid-column: 1;
    grid-row: 1;
}

#user_info {
    padding-left: 1em;
    margin-left: 1em;
    margin-right: 1em;
    grid-column: 2;
    grid-row: 1;
}


#user_info ul li {
    font-weight: 600;
    padding: 1em 1em;
}

#user_info ul li:hover, #user_info ul li.active {
    border-bottom: 2px solid gray;
    background-color: white;
}

#user_info .navbar {
    border-bottom: 1px solid gray;
    background: white;
}


#profile_image {
    width:100%;
    border-radius: 5px;
    margin-left: 1rem;
}

#user_details {
    list-style: none;
    padding-left: 1em;
}

#user_details li:nth-child(3) {
    opacity: 0.3;
}

#user_details li {
    margin-bottom: 0.5em;
}

.profile_places, #user_reviews {
    display: none;
}

.profile_places .place_location {
    font-weight: bolder;
    color: yellowgreen;
}

.profile_places .place_title {
    font-weight: bolder;
}

.profile_places .place_price {
    font-style: italic; 
}

.profile_places .place_overview {
    width: 100%;
}

.profile_places .place_overview a {
    display: flex;
}

.profile_places .place_img {
    width: 25%;
    flex-shrink: 0;
}


.profile_places .place_img img {
    flex-shrink: 0;
}

.profile_places .place_description {
    display: block;
    text-align: justify;
    flex-shrink: 1;
}

.profile_places .place_details {
    margin-left: 1em;
}

.profile_places .fa-heart {
    display: none;
}

#save_profile {
    float: right;
    width: 7em;
    display: none;
}

.place_img {
    position: relative;
}

.place_overview {
    position: relative;
}


.places_list .fa-trash {
    display: none;
}

.place_overview .fa-times, .place_overview .fa-trash {
    position: absolute;
    top: 6px;
    right: 15px;
}

.fa-times:hover, .fa-trash:hover {
    color: white;
    background-color: var(--orange);
    border-radius: 5px;
}

.fa-times, .fa-trash {
    padding: 0.1em 0.2em;

}

time.icon
{
    font-size: 1em; /* change icon size */
    display: block;
    position: absolute;
    bottom: 14px;
    right: 8px;
    width: 3.5em;
    height: 3.5em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon *
{
    display: block;
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong
{
    font-size: 0.8em;
    position: absolute;
    top: 0;
    padding: 0.1em 0;
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
    position: absolute;
    bottom: 0.3em;
    color: #fd9f1b;
}

time.icon span
{
    font-size: 1.2em;
    letter-spacing: -0.05em;
    padding-top: 1.1em;
    color: #2f2f2f;
}

time.icon:hover
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

time.checkout {
    display: none;
}

#remove_modal {
    display: none;
}

#remove_modal .modal_content {
    position: relative;
}

#remove_modal .modal_content .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

#remove_modal h2 {
    padding-right: 2em;
    margin-top: 0.5rem;
}

#remove_modal button:first-of-type {
    margin-top: 1em;
}

#remove_modal button {
    width: 95%;
    margin-bottom: 1em;
    margin-left: 0.75em;
}

#user_reviews .place_review {
    display: block;
}

#user_reviews a {
    display: block;
    color: black;
    position: absolute;
    bottom: 6px;
    right: 6px;
}

#user_reviews a:hover {
    color: rgb(27, 45, 209);
}

@media (max-width:1280px) {
    #user_places .place_description {
        display: none;
    }
}

@media (max-width:40em) {
    #profile {
        display: flex;
        flex-direction: column;
    }

    #user_details {
        text-align: justify;
        margin-right: 1rem;
    }

    #profile_image {
        width: 40%;
        border-radius: 50%;
        border: 3px solid black;
        display: block;
        margin: 0 auto;
    }

    #user_info {
        padding-left: 0;
    }

    #nav_container {
        height: 53px;
        position: relative;
        overflow-x: auto;
        overflow-y: none;
    }

    #user_info .navbar {
        min-width: 375px;
        width: 100%;
        position: absolute;
    }

    #user_info ul li {
        display: inline-block;
    }
}

