:root {
    --orange: #ff6624;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--orange);
    margin-top: 0px;
    overflow: hidden;
}

/**
* This file holds all the css related to elements that are common in most pages
*/

.navbar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 1em;
    color: white;
}

.navbar li:hover {
    background-color: rgb(233, 147, 67);   
}

.navbar > a {
    padding: 0 1rem;
    display: inline-block;
}

#logo {
    width: 6rem;
}

.navbar > ul a.hamburguerMenu {
    display: none;
}

footer {
    background: var(--orange);
    height: 7.5em;
    width: 100%;
    margin-top: auto;
}

footer ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-top: 0;
    padding-top: 1em;
}

footer a {
    text-decoration: none;
    color: white;
    margin-right: 2em;
}

footer img {
    width: 30px;
}

.navbar > ul li {
    display: block;
}

.navbar a {
    display: block;
}

#login, #signup {
    display: none;
}

/* The Modal (background) */
#signup, #login {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border: none;
    border-radius: 0%;   
}

.login_content > span {
    float: right;
    padding: 8px 16px 8px 16px;
}
  
/* Modal Content/Box */
.login_content  {
    background-color: #fefefe;
    margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 400px;
}

/* section[class*="form"] h2 {
    padding-left: 1rem;
    margin-bottom: 0;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media screen and (min-width: 40em) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar > ul {
        display: flex;
        justify-content: flex-end;
        padding-right: 10%;
    }

    .navbar > ul li {
        display: block;
    }

    .navbar a {
        display: block;
    }

    #logo {
        padding-left: 10rem;
    }

    footer ul {
        padding-left: 10rem;
    }
}

@media screen and (max-width: 40em) {
    .navbar > ul li {
        display: none;
        text-align: center;
        padding: 15px 0;
    }

    .login_content {
        width: 100%;
    }

    .navbar.responsive > ul li {
        display: block;
        text-align: center;
        padding: 15px 0;
    }

    .navbar > ul a.hamburguerMenu {
        color: white;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 0.8em;
    }

    .navbar a:first-child {
        display: inline-block;

    }
    
    img#logo {
        display: inline;
    }
}
