:root {
    --orange: #ff6624;
}

body {
    font-family: source sans pro;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

#navbar {
    background-color: var(--orange);
    margin-top: 0px;
}

#navbar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar a {
    text-decoration: none;
    padding: 1em;
    color: white;
}

@media screen and (min-width: 768px) {
    #navbar {
        display: flex;
        justify-content: space-between;
    }

    #navbar > ul {
        display: flex;
        justify-content: flex-end;
    }

    #navbar > ul li {
        display: block;
    }

    #navbar a {
        display: block;
    }
}

#navbar li:hover {
    background-color: rgb(233, 147, 67);   
}

#navbar > a {
    padding: 0 1rem;
    display: inline-block;
}

#logo {
    width: 6rem;
}

#navbar a.icon {
    display: none;
}

@media screen and (max-width: 768px) {
    #navbar > ul li {
        display: none;
        text-align: center;
        padding: 15px 0;
    }

    #navbar > ul a.icon {
        color: white;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 0.8em;
    }
}
